/* start header section style*/
.img-header{
   min-height: 80vh; 
   width: 100%;
   
}
/*.overlay{
    width: 100%;
    background-color:  rgb(0, 0, 0 , .7);
    height: 80vh;
}
    */
.header-title{
    color: white;
    margin: 200px;
    max-width: 300px;
}
.header-title a{
    background-color: orange;
    padding: 5px 5px 10px 10px;
    border-radius: 3px;
    color: white;
    margin-top: 5px;
    margin-left: -35px;
    float: left;
}
@media screen and (max-width:1200px ){
    .header-title{
        width: 100%;
        margin: 0;
        position: absolute;
        background-color: black;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        border-radius: 5px;
    }
}
.overlay , .img-header{
    min-height: 100%;
}

