/* start navbar section*/
.nav {
    background-color: #efefef;
    overflow: hidden;
    position: sticky;
    direction: ltr;
    top: 10px;
    display: flex; 
    justify-content: flex-end; 
    gap: 30px; 
    padding: 10px 0; 
}

.nav a {
    color: black;
    text-align: center;
    padding: 14px 0; 
    font-size: 18px;
    text-decoration: none;
}
.nav a:hover{
    border-bottom:2px solid orange  ;
}
.icon{
    display: none;
}
@media screen and (max-width: 600px){
  .nav a:not(:first-child){
    display: none;
  } 
}
.nav a .icon{
    display: block 
}
.nav .responsive{
    position: relative;
}
.nav .responsive a.icon{
    position: absolute;
    top: 0;
    left: 0;

}
.nav .responsive a{
float: none;
display: block;
text-align: right;
}

/* navbar section*/