html, body {
  height: 100%; 
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  background: linear-gradient(
    0deg,
    #eeaeca 0%,
    #94bbe9 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
}
.form{
    position: absolute;
    top: 30%;
    box-shadow: 0 4px 8px rgba(0,0, 0, .3);
    width: 400px;
    background-color: #c8daef;
    border-radius: 10px;
}
.input{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    border: none;
    font-size: 20px;
    font-family: cursive;
} 
.input:focus{
    outline: none;
}
.input::placeholder{
    color: lightgray;
}
.list{
    padding: 0;
    margin: 0;
}
.list li{
    list-style-type: none;
    padding: 20px;
    font-family: cursive;
    border-top: dotted;
    border-color: aliceblue;
    position: relative;
    color: darkblue;
}
.list li .fa-trash{
    color: red;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor:pointer ;
}
.list li .fa-check-square{
    color: green;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    cursor:pointer ;
}
 .list li.checked{
    color: darkgray;
    text-decoration: line-through;
 }
 .list li.checked .fa-check-square{
    color: darkgray;
 }
